<app-chat-navbar-menu [allLocality]=allLocality [activePage]=activePage></app-chat-navbar-menu>
<custom-tittle-main [tittleMain]=titleMain_txt></custom-tittle-main>

<div class="container">

  <div class="containerChat">
    <div class="containerChat_inputMessage">
      <div class="containerChat_inputMessageBtn">
        <div class="row">
          <div *ngIf="!showAddMessage" class="col">
            <button type="button" class="btn btnAddMessage" (click)="seeAddMessage()">{{addNew_txt}}</button>
          </div>
          <div *ngIf="showAddMessage" class="col">

            <button type="button" class="btn btnSubmitMessage" (click)="submitMessage()">{{submit_txt}}</button>
            <button type="button" class="btn btnCancleAddMessage" (click)="canceAddMessage()">{{cancle_txt}}</button>
          </div>
          <div *ngIf="showAddMessage" class="col">
            <textarea class="inputCommentBox" ref-textarea [(ngModel)]="messageValue" rows="4"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>