.legendInsert {
  color: rgb(160, 160, 160);
}

#successLoadCondition {
  color: rgb(43, 155, 43);
}

.control-label.required:after {
  color: #d00;
  content: '*';
  position: absolute;
  margin-left: 5px;
  top: 7px;
}

.currency {
  min-width: 115px;
  max-width: 115px;
}

#img {
  display: none;
}

.imgSetCollectionInput {
  width: 50px;
  height: 42px;
  padding: 0px 0;
  border: 1px solid #28a745 !important;
  text-align: center;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 24px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.control-label.image {
  width: 150px;
  padding: 15px 0;
  border: 2px solid rgb(48, 136, 207);
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160);
  color: black;
  cursor: pointer;
}

label.image:hover {
  background-color: rgb(85, 83, 83);
  color: white;
}

.control-label.frozenImage {
  width: 150px;
  padding: 15px 0;
  border: 2px solid rgb(48, 136, 207);
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160);
  color: black;
  cursor: default;
}

/* .imageContainer {
  height: 200px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
} */
.imageContainer {
  position: relative;
  color: rgb(177, 185, 189);
}

.dropzone {
  height: 200px;
  /* display: table; */
  /* width: 100%; */
  background-color: #eee;
  border: dotted 1px #aaa;
  /* display: table;
  margin: 0 auto; */
}

.submitContainer {
  display: table;
  margin: 0 auto;
}

.submitButton {
  width: 110px;
  padding: 8px 0;
  border: 3px solid rgb(48, 136, 207);
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160);
  color: black;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(85, 83, 83);
  color: white;
}

.frozenSubmitButton {
  width: 110px;
  padding: 8px 0;
  border: 3px solid rgb(48, 136, 207);
  text-align: center;
  border-radius: 5px;
  background-color: rgb(85, 83, 83);
  color: white;
  cursor: default;
}

.imageMineral {
  border-style: solid;
  position: absolute;
  border-radius: 6px;
}

.imageTopRight {
  width: 27px;
  height: 27px;
  padding: 0px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  position: absolute;
}

.removeStyle {
  border: 3px solid rgb(48, 136, 207) !important;
  background-color: rgb(160, 160, 160) !important;
  cursor: pointer;
  color: black;
  opacity: 0.8;
}

.removeStyle:hover {
  opacity: 1;
}

.passStyle {
  border: 3px solid rgb(28, 141, 0) !important;
  background-color: rgb(103, 168, 95) !important;
  color: rgb(28, 141, 0) !important;
}

.faultStyle {
  border: 3px solid rgb(187, 41, 5) !important;
  background-color: rgb(179, 96, 96) !important;
  color: rgb(187, 41, 5) !important;
}
