.wrapper {
  /* color: rgb(160, 160, 160); */
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: rgb(177, 185, 189);
}

.modal-body {
  background-color: #242020;
  border-color: rgb(177, 185, 189);
  padding: 0;
}

.carrouselImage {
  border-style: solid;
  border-color: rgb(110, 111, 112);
  border-width: 1.5px;
  border-radius: 5px;
}

.modal-footer {
  background-color: #242020;
  border-color: rgb(177, 185, 189);
  border-top-width: 0px;
}

.imageComment {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: rgb(199, 199, 199);
  text-align: center;
  margin-bottom: 30px;
  width: 60%;
}

.modal-header {
  background-color: #242020;
  border-color: rgb(177, 185, 189);
  border-bottom-width: 0px;
  color: rgb(199, 199, 199);
}

/* Style cancle button */
.btnCancle {
  width: 110px;
  padding: 8px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160) !important;
  color: black;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

/* Style on hover colour */
.btnCancle:hover {
  background-color: rgb(85, 83, 83) !important;
  color: white;
}

.btnComments {
  width: 110px;
  padding: 8px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160) !important;
  color: black;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Style on hover colour */
.btnComments:hover {
  background-color: rgb(85, 83, 83) !important;
  color: white;
}

/* .modal-footer .btnComments {
  float: right;
} */

.btnCommunityComments {
  width: 110px;
  padding: 8px 0;
  border: 3px solid #383a39 !important;
  text-align: center;
  border-radius: 5px;
  margin: 15px;
  background-color: rgb(85, 83, 83) !important;
  color: white;
  cursor: pointer;
}

.btnAddComment {
  width: 110px;
  padding: 8px 0;
  border: 3px solid #383a39 !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(85, 83, 83) !important;
  color: white;
  cursor: pointer;
}

/* Style on hover colour */
.btnAddComment:hover {
  background-color: rgb(160, 160, 160) !important;
  color: black;
}

.btnSubmitComment {
  width: 110px;
  padding: 8px 0;
  border: 3px solid #383a39 !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(85, 83, 83) !important;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 60%;
  left: 40%;
  top: 20px;
}

/* Style on hover colour */
.btnSubmitComment:hover {
  background-color: rgb(160, 160, 160) !important;
  color: black;
}

.btnCancleAddComment {
  width: 110px;
  padding: 8px 0;
  border: 3px solid #383a39 !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(85, 83, 83) !important;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 60%;
  left: 40%;
  bottom: 20px;
}

/* Style on hover colour */
.btnCancleAddComment:hover {
  background-color: rgb(160, 160, 160) !important;
  color: black;
}

.inputCommentBox {
  width: 100%;
  height: 150px;
}

.containerComment {
  border-left: 3px solid #4b4b4b;
  border-right: 3px solid #4b4b4b;
  border-bottom: 3px solid #4b4b4b;
  border-radius: 6px;
}

.containerCommentLogIn {
  border-top: 3px solid #4b4b4b;
}

.containerComment_inputComment {
  border: 1px solid #4b4b4b !important;
  background-color: #626262 !important;
}

.containerComment_inputCommentBtn {
  margin: 17px;
}

.containerComment_text {
  border-top: 3px solid #4b4b4b !important;
}

.communityCommentText {
  text-align: left;
  color: rgb(199, 199, 199);
  word-break: break-word;
  margin: 15px;
}

.communityCommentPosterName {
  text-align: left;
  font-weight: bold;
  color: rgb(199, 199, 199);
  word-break: break-word;
  margin: 15px;
}

.commentPosterNameColumn {
  min-width: 150px;
  max-width: 250px;
}

/* Style close button */
.closeStyle {
  width: 45px;
  height: 45px;
  padding: 0px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160) !important;
  color: black;
  cursor: pointer;
  font-size: 24px;
  margin: 0px;
}

/* Style on hover colour */
.closeStyle:hover {
  background-color: rgb(85, 83, 83) !important;
  color: white;
}

/* Style close button */
.informationStyle {
  width: 45px;
  height: 45px;
  padding: 0px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160);
  color: black;
  cursor: pointer;
  font-size: 19px;
  margin: 0px;
}

/* Style on hover colour */
.informationStyle:hover {
  background-color: rgb(85, 83, 83);
  color: white;
}

.modal-footer {
  display: block !important;
}

.modal-footer .btnCancle {
  float: right;
}

.modal-footer .inputCommentBox {
  float: right;
}

.LikeNumber {
  color: rgb(48, 136, 207);
  margin: 0px;
  font-weight: bold;
}

.LikeImage {
  width: 45px;
  height: 28px;
  padding: 0px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  background-color: rgb(160, 160, 160);
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 24px;
  margin: 0px;
}

.LikeImageLogout {
  width: 45px;
  height: 28px;
  padding: 0px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  background-color: rgb(160, 160, 160);
  border-radius: 5px;
  color: black;
  font-size: 24px;
  margin: 0px;
}

/* Style on hover colour */
.LikeImage:hover {
  background-color: rgb(85, 83, 83);
  color: white;
}

.CostImage {
  width: 50px;
  height: 42px;
  padding: 0px 0;
  border: 1px solid #28a745 !important;
  text-align: center;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 24px;
  margin: 0px;
}

.CostImageLogout {
  width: 50px;
  height: 42px;
  padding: 0px 0;
  border: 1px solid #28a745 !important;
  text-align: center;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 24px;
  margin: 0px;
}

/* Remove focus, when not use show blue border after click on carousel*/
.slide:focus {
  outline: none !important;
  outline-style: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
