<app-main-navbar-menu [allLocality]=allLocality [activePage]=activePage></app-main-navbar-menu>

<custom-tittle-main [tittleMain]=tittleMain></custom-tittle-main>

<div class="container">
  <div class="mainFormClass">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div class="form-group" [ngClass]="{ 'has-error': invalidName() }">
        <!-- First Name -->
        <div class="col-sm-12">
          <label for="name" class="control-label required">Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" name="name" placeholder="Name">
          <p *ngIf="invalidName()" id="name_error" class="help-block">
            {{this.serviceErrors.name || 'Invalid name.'}}</p>
          <p class="help-block"> {{this.serverServiceErrors.name}}</p>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': invalidDescription() }">
        <!-- Last Name -->
        <div class="col-sm-12">
          <label for="description" class="control-label required">Description</label>
          <textarea type="text" formControlName="description" class="form-control inputDescriptionBox" id="description"
            name="description" placeholder="description"></textarea>
          <p *ngIf="invalidDescription()" id="description_error" class="help-block">
            {{this.serviceErrors.description || 'Invalid description.'}}</p>
          <p class="help-block"> {{this.serverServiceErrors.description}}</p>
        </div>
      </div>

      <div class="submitContainer">
        <p id="successLoadCondition"> {{this.serverServiceErrors.uploadSuccess}}</p>
      </div>

      <div class="submitContainer">
        <p class="help-block">
          {{this.inputCondition.errorLoad}}{{serverServiceErrors.errorMessage}}
        </p>
      </div>

      <div class="form-group has-error">
        <div class="submitContainer">
          <div class="col-sm-12">
            <!-- Register Button -->
            <button type="submit" class="submitButton">Save Changes</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>