.wrapper {
  /* color: rgb(160, 160, 160); */
  margin-left: auto;
  margin-right: auto;
}

.mainFormClass {
  color: white;
  text-align: center;
  margin-left: 80px;
  margin-right: 150px;
}

.imageLocality {
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: 5px;
  position: absolute;
  border-radius: 6px;
}

.enderLine {
  clear: both;
  height: 2px;
  margin: auto;
  background-color: rgb(177, 185, 189);
}

.top-right {
  position: absolute;
  top: 20px;
  right: 17px;
  opacity: 0.5;
  border-radius: 8px;
  /* cursor: pointer !important; */
}

.top-right:hover {
  position: absolute;
  top: 20px;
  right: 17px;
  opacity: 1;
  border-radius: 8px;
  /* cursor: pointer !important; */
}

.localityWrapper {
  margin-top: 45px;
}

.userDescription {
  text-align: center;
}

.userName {
  color: rgb(177, 185, 189) !important;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  display: inline;
}

.userName_mobile {
  font-size: 20px;
}

.userName:hover {
  color: white !important;
  font-weight: bold;
  text-decoration: underline !important;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: rgb(177, 185, 189);
}

ul.list-inline li {
  float: left;
}

.pageDescriptionImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* float: left; */
}

.containerPageDescription {
  margin-top: 22px;
  margin-bottom: 10px;
  min-height: 130px;
  min-width: 265px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #383a39;
  background-color: rgb(85, 83, 83);
  border-radius: 6px;
}

.containerMainImageDescription {
  margin-left: auto;
  margin-right: auto;
  background-color: #242020;
}

.imageDescriptionText {
  text-align: center;
  color :rgb(172, 172, 172);
  word-break: break-word;
  margin: 4px;
}

.pageDescriptionText {
  text-align: left;
  color: rgb(229, 229, 229);
  word-break: break-word;
  font-size: 21px;
  margin: 8px;
}

.right {
  float: left;
}

.clearFloating {
  clear: both;
  color: rgb(229, 229, 229);
}

.ultraSmallTextSize {
  font-size: 13px;
}

.mobileTextSize {
  font-size: 15px;
}

.smallTextSize {
  font-size: 18px;
}
