<app-main-navbar-menu
  [allLocality]="allLocality"
  [activePage]="activePage"
></app-main-navbar-menu>
<custom-tittle-main
  [tittleMain]="titleMain_txt"
  [screen_size]="resizeSvc.getScreenSize()"
  [margin_right]="resizeSvc.getPageMarginRight()"
></custom-tittle-main>

<div class="wrapper" center="block">
  <div
  >
    <img
      [src]="page_description_img"
      alt="Mechový achát kamenolom Doubravice"
      class="pageDescriptionImage"
      [ngStyle]="{
        'max-width': getDescriptionContainerWidth() + 'px'
      }"
    />
    <div
      class="containerPageDescription"
      [ngStyle]="{
        width: getDescriptionContainerWidth() + 'px'
      }"
    >
      <div class="{{ getDescriptionImageTextSizeClass() }}">
        {{ pageDescription_txt }}
      </div>
      <div class="clearFloating"></div>
    </div>
    <div class="wrap">
      <div
        *ngFor="let otherUsersCollection of otherUsersCollections; let i = index"
        class="localityWrapper"
      >
        <div class="userDescription">
          <a
            class="{{ getUserNameClass() }}"
            (click)="
              routeToAnotherUsersLocalities(otherUsersCollection.otherUser.postedBy)
            "
            >{{ otherUsersCollection.otherUser.name }}
          </a>
        </div>
        <ul
          class="list-inline"
          [ngStyle]="{
            'min-height': resizeSvc.getPictureHeight() + 'px'
          }"
        >
          <li
            *ngFor="
              let achatdbCollection of otherUsersCollection.achatdbCollections;
              let j = index
            "
          >
            <div *ngIf="achatdbCollection" class="imageContainer">
              <img
                [attr.src]="
                  imageService.getImage(
                    achatdbCollection.imgName,
                    achatdbCollection.imgPath
                  )
                "
                class="imageLocality"
                [ngStyle]="{
                  'margin-top': resizeSvc.getPictureMarginSize() + 'px',
                  width: resizeSvc.getPictureWidth() + 'px',
                  left:
                    resizeSvc.getFirstImageOffset(
                      otherUsersCollection.achatdbCollections.length,
                      j, false
                    ) + 'px'
                }"
                alt="{{ achatdbCollection.title }}"
                (click)="openModal(achatdbCollection, j)"
              />
              <div
                class="imageLocality"
                [ngStyle]="{
                  width: resizeSvc.getPictureWidth() + 'px',
                  left:
                    resizeSvc.getFirstImageOffset(
                      otherUsersCollection.achatdbCollections.length,
                      j, false
                    ) + 'px'
                }"
                (click)="openModal(achatdbCollection, j)"
              ></div>
            </div>
          </li>
        </ul>

        <ul
          class="list-inline"
          [ngStyle]="{
            'min-height': '14' + 'px'
          }"
        >
          <li
            *ngFor="
              let achatdbCollection of otherUsersCollection.achatdbCollections;
              let j = index
            "
          >
            <div *ngIf="achatdbCollection" class="imageContainer">
              <div
                class="imageLocality"
                [ngStyle]="{
                  width: resizeSvc.getPictureWidth() + 'px',
                  left:
                    resizeSvc.getFirstImageOffset(
                      otherUsersCollection.achatdbCollections.length,
                      j, false
                    ) + 'px'
                }"
                (click)="openModal(achatdbCollection, j)"
              >
                {{ achatdbCollection.title }}
              </div>
            </div>
          </li>
        </ul>

        <p class="enderLine"></p>
      </div>
    </div>
  </div>
</div>
