.wrapper
{
  /* color: rgb(160, 160, 160); */
  margin-left: auto;
  margin-right: auto;
}

.mainFormClass
{
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-right: 150px;
}

.imageLocality
{
  display: block;
  margin-left: auto;
  margin-right: auto;
    cursor: pointer;
    border: 5px;  	
    border-style: solid;
    border-color: #4b4b4b;
    border-radius: 6px;
}

.enderLine
{
  min-width: 240px;
  background-color: rgb(177, 185, 189);
}

.top-right{
  /* position: absolute;
  top: 20px;
  right: 17px; */
  display: inline;
  opacity: 0.5;
  border-radius: 8px;
  /* cursor: pointer !important; */
}

.top-right:hover{
  /* position: absolute;
  top: 20px;
  right: 17px; */
  opacity: 1;
  border-radius: 8px;
  /* cursor: pointer !important; */
}

.localityWrapper {
  margin-top: 45px;
}

.localityName {
  color: rgb(177, 185, 189) !important;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  display: inline;
}

.dropdownLocality {
  display: inline;
  margin-left: 7px;
}

.dropdownStyle{
  background-color: rgb(167, 172, 179);
}

.localityName:hover {
  color: white !important;
  font-weight: bold;
  text-decoration: underline !important;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: rgb(177, 185, 189);
}

.pagingButtons {
  width:45px;
  height: 45px;
  padding: 0px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160);
  color: black;
  cursor: pointer;
  font-size: 19px;
  margin: 0px;
}

.pagingButtons.active {

  background-color: rgb(75, 73, 73);

}

/* Style on hover colour */
.pagingButtons:hover {
  background-color: rgb(85, 83, 83);
  color: white;
}