<app-main-navbar-menu
  [allLocality]="allLocality"
  [activePage]="activePage"
></app-main-navbar-menu>
<custom-tittle-main
  [tittleMain]="titleMain_txt"
  [screen_size]="resizeSvc.getScreenSize()"
></custom-tittle-main>

<div class="container">
  <div class="{{ mobileService.getMainFormClass(resizeSvc.getScreenSize()) }}">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [ngClass]="{ 'has-error': invalidName() }">
        <!-- First Name -->
        <div class="col-sm-12">
          <label for="name" class="control-label required">{{ name_txt }}</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            id="name"
            name="name"
            placeholder="{{ name_txt }}"
            />
          @if (invalidName()) {
            <p id="name_error" class="help-block">
              {{ this.serviceErrors.name || 'Invalid name.' }}
            </p>
          }
          <p class="help-block">{{ this.serverServiceErrors.name }}</p>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': invalidEmail() }">
        <!-- Last Name -->
        <div class="col-sm-12">
          <label for="email" class="control-label required">Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="email"
            />
          @if (invalidEmail()) {
            <p id="email_error" class="help-block">
              {{ this.serviceErrors.email || 'Invalid email.' }}
            </p>
          }
          <p class="help-block">{{ this.serverServiceErrors.email }}</p>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': invalidPassword() }">
        <!-- Last Name -->
        <div class="col-sm-12">
          <label for="password" class="control-label required">{{ password_txt }}</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="*********"
            />
          @if (invalidPassword()) {
            <p id="password_error" class="help-block">
              {{ this.serviceErrors.password || 'Invalid password.' }}
            </p>
          }
          <p class="help-block">{{ this.serverServiceErrors.password }}</p>
        </div>
      </div>

      <div class="submitContainer">
        <p id="successLoadCondition">{{ this.serverServiceErrors.uploadSuccess }}</p>
      </div>

      <div class="form-group has-error">
        <div class="submitContainer">
          <p class="help-block">
            {{ this.inputCondition.errorLoad && this.serverServiceErrors.uploadSuccess }}
          </p>
          <!-- Register Button -->
          @if (!is_submit_in_progress) {
            <div class="col-sm-12">
              <button type="submit" class="{{ getSubmitBtnClass() }}">
                {{ createAccount_txt }}
              </button>
            </div>
          }
          @if (is_submit_in_progress) {
            <div class="col-sm-12">
              <button type="submit" class="{{ getSubmitFrozenBtnClass() }}">
                {{ submitInProgress_txt }}
              </button>
            </div>
          }
        </div>
        <div class="col-sm-12 center-text">{{this.create_account_message}}</div>
      </div>
    </form>
  </div>
</div>
