<custom-tittle-main [tittleMain]=tittleMain></custom-tittle-main>

<div class="container">
    <div class="mainFormClass">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

            <div class="form-group" [ngClass]="{ 'has-error': invalidName() }">
                <!-- First Name -->
                <div class="col-sm-12">
                    <label for="name" class="control-label required">Name</label>
                    <input type="text" formControlName="name" class="form-control" id="name" name="name"
                        placeholder="Name">
                    <p *ngIf="invalidName()" id="name_error" class="help-block">
                        {{this.serviceErrors.name || 'Invalid name.'}}</p>
                    <p class="help-block"> {{this.serverServiceErrors.name}}</p>
                </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': invalidEmail() }">
                <!-- Last Name -->
                <div class="col-sm-12">
                    <label for="email" class="control-label required">Email</label>
                    <input type="text" formControlName="email" class="form-control" id="email"
                        name="email" placeholder="email">
                    <p *ngIf="invalidEmail()" id="email_error" class="help-block">
                        {{this.serviceErrors.email || 'Invalid email.'}}</p>
                    <p class="help-block"> {{this.serverServiceErrors.email}}</p>
                </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': invalidPassword() }">
                <!-- Last Name -->
                <div class="col-sm-12">
                    <label for="password" class="control-label required">Password</label>
                    <input type="password" formControlName="password" class="form-control" id="password"
                        name="password" placeholder="*********">
                    <p *ngIf="invalidPassword()" id="password_error" class="help-block">
                        {{this.serviceErrors.password || 'Invalid password.'}}</p>
                    <p class="help-block"> {{this.serverServiceErrors.password}}</p>
                </div>
            </div>

            <div class="submitContainer">
                <p id="successLoadCondition"> {{this.serverServiceErrors.uploadSuccess}}</p>
            </div>

            <div class="form-group has-error">
                <div class="submitContainer">
                    <p class="help-block"> {{this.inputCondition.errorLoad && this.serverServiceErrors.uploadSuccess}}
                    </p>
                    <!-- Register Button -->
                    <button type="submit" class="submitButton">Create Account</button>
                </div>
            </div>
        </form>
    </div>
</div>