<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title_txt }}</h4>
    <button
      type="button"
      class="btn closeStyle"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" [ngClass]="{ 'has-error': invalidPrice() }">
      <!-- Add offer -->
      <div class="col-sm-12">
        <label for="price" class="control-label required"
          >{{ offerPrice_txt }}
          <p *ngIf="this.offerService.isPrice(this.list.achat_collection.status)">
            {{ this.list.achat_collection.price }}
            {{ this.list.achat_collection.currency }}
          </p></label
        >
        <input
          *ngIf="this.offerService.isAuction(this.list.achat_collection.status)"
          type="number"
          formControlName="price"
          class="form-control"
          id="price"
          name="price"
        />
        <p *ngIf="invalidPrice()" id="price_error" class="help-block">
          {{ this.serviceErrors.price || 'Invalid price.' }}
        </p>
        <p class="help-block">{{ this.serverServiceErrors.price }}</p>
      </div>
    </div>


    <div class="form-group" [ngClass]="{ 'has-error': invalidMessage() }">
        <p>
          {{ message_txt }}
        </p>
        <textarea
          class="inputMessageBox"
          formControlName="message"
        ></textarea>
    </div>


  </div>
  <div class="modal-footer">
    <div class="float-left">
      <button type="submit" class="btn btnConfirm">Ok</button>
    </div>
    <button type="button" class="btn btnCancle" (click)="bsModalRef.hide()">
      Cancle
    </button>
  </div>
</form>
