<app-main-navbar-menu
  [allLocality]="allLocality"
  [activePage]="activePage"
></app-main-navbar-menu>
<custom-tittle-main
  [tittleMain]="tittleMain"
  [screen_size]="resizeSvc.getScreenSize()"
  [margin_right]="resizeSvc.getPageMarginRight()"
></custom-tittle-main>

<div class="wrapper" center="block">
  <div
    [ngStyle]="{
      width: resizeSvc.getPageWidth() + 'px'
    }"
    >
    <div class="wrap">
      <ul class="list-inline">
        @for (achatdbCollection of achatdbCollections; track achatdbCollection; let i = $index) {
          <li>
            <a>
              <div class="imageContainer">
                <img
                [attr.src]="
                  imageService.getImage(
                    achatdbCollection.imgName,
                    achatdbCollection.imgPath
                  )
                "
                  class="imageLocality"
                [ngStyle]="{
                  width: resizeSvc.getPictureWidth() + 'px',
                  'margin-left':
                    i % resizeSvc.getPictureOnPage() == 0
                      ? '0px'
                      : resizeSvc.getPictureMarginSize() + 'px',
                  'margin-bottom': resizeSvc.getPictureMarginSize() + 'px'
                }"
                  alt="{{ achatdbCollection.title }}"
                  (click)="openModal(achatdbCollection)"
                  />
                @if (auth.isItemYours(achatdbCollection.postedBy)) {
                  <div ngbDropdown>
                    <button
                      type="button"
                      id="dropdown01"
                      class="{{ getDropdownToggleClass(achatdbCollection) }}"
                      ngbDropdownToggle
                    ></button>
                    <div ngbDropdownMenu class="dropdownStyle" aria-labelledby="dropdown01">
                      @if (!isProfileMineral(achatdbCollection)) {
                        <a
                          class="dropdown-item"
                          (click)="toggleProfileMineral(achatdbCollection)"
                          >{{ toProfile_txt }}</a
                          >
                        }
                        @if (isProfileMineral(achatdbCollection)) {
                          <a
                            class="dropdown-item"
                            (click)="toggleProfileMineral(achatdbCollection)"
                            >{{ removeFromProfile_txt }}</a
                            >
                          }
                          <a
                            class="dropdown-item"
                            (click)="routerService.modifyRoute(achatdbCollection)"
                            >{{ modifyRoute_txt }}</a
                            >
                            <a
                              class="dropdown-item"
                              (click)="routerService.addPhoto(achatdbCollection)"
                              >
                              {{ addPhoto_txt }}</a
                              >
                              <a
                                class="dropdown-item"
                                (click)="openConfirmModal(achatdbCollection)"
                                >{{ deleteRoute_txt }}</a
                                >
                              </div>
                            </div>
                          }
                          @if (ifPrice(achatdbCollection.status)) {
                            <img
                              class="bot-left"
                src="../../../assets/skins/tag_price_img.png
                  "
                [ngStyle]="{
                  left:
                    i % resizeSvc.getPictureOnPage() == 0
                      ? '0px'
                      : resizeSvc.getPictureMarginSize() + 'px'
                }"
                              />
                          }
                          @if (ifAuction(achatdbCollection.status)) {
                            <img
                              class="bot-left"
                src="../../../assets/skins/tag_bind_img.png
                  "
                [ngStyle]="{
                  left:
                    i % resizeSvc.getPictureOnPage() == 0
                      ? '0px'
                      : resizeSvc.getPictureMarginSize() + 'px'
                }"
                              />
                          }
                          @if (!auth.isItemYours(achatdbCollection.postedBy)) {
                            <div></div>
                          }
                        </div>
                      </a>
                    </li>
                  }
                </ul>
                <hr class="enderLine" />
              </div>
              @if (this.pagingButtons.ifAnyMorePage()) {
                <app-paging-buttons
                  [buttonCollections]="buttonCollections"
                  (clickPageButtonEvent)="clickPageButton($event)"
                ></app-paging-buttons>
              }
              <div class="containerLocalityDescription">
                <div class="localityDescriptionText" [innerHtml]="actualLocality.description"></div>
              </div>
            </div>
          </div>
