.wrapper {
  /* color: rgb(160, 160, 160); */
  margin-left: auto;
  margin-right: auto;
}

.mainFormClass {
  color: white;
  text-align: center;
  margin-left: 80px;
  margin-right: 150px;
}

.imageLocality {
  float: left;
  cursor: pointer;
  border-radius: 6px;
}

ul.list-inline li {
  float: left;
}

.enderLine {
  min-width: 265px;
  clear: both;
  height: 2px;
  margin: auto;
  background-color: rgb(177, 185, 189);
}


.dropdownToggleStandard {
  position: absolute;
  /* top: 0px; */
  right: 0px;
  opacity: 0.5;
  border-radius: 8px;
  /* cursor: pointer !important; */
}

.dropdownToggleProfile{
  position: absolute;
  /* top: 0px; */
  right: 0px;
  opacity: 0.5;
  border-radius: 8px;
  border-color: rgb(158, 175, 84);
  background-color: rgb(255,215,0);
  /* cursor: pointer !important; */
}

.top-right:hover {
  position: absolute;
  /* top: 0px; */
  right: 0px;
  opacity: 1;
  border-radius: 8px;
  /* cursor: pointer !important; */
}

.bot-left {
  position: absolute;
  /* height: 35px; */
  /* bottom: 0px; */
  left: 0px;
  opacity: 1;
  /* cursor: pointer !important; */
  -webkit-clip-path: polygon(0 0, 0 30px, 0px 30px, 30px 0);
  clip-path: polygon(0 0, 0 30px, 0px 30px, 30px 0);
  /* -webkit-clip-path: polygon(0 0, 0 35px, 35px 10px, 35px 0);
  clip-path: polygon(0 0, 0 35px, 35px 10px, 35px 0); */
}

.imageContainer {
  position: relative;
  text-align: center;
  color: rgb(177, 185, 189);
}

.dropdownStyle {
  background-color: rgb(167, 172, 179);
}

/* Style cancle button */
.btnCancle {
  width: 110px;
  padding: 8px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160) !important;
  color: black;
  cursor: pointer;
}

/* Style on hover colour */
.btnCancle:hover {
  background-color: rgb(85, 83, 83) !important;
  color: white;
}

.btnConfirm {
  width: 110px;
  padding: 8px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160) !important;
  color: black;
  cursor: pointer;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

/* Style on hover colour */
.btnConfirm:hover {
  background-color: rgb(85, 83, 83) !important;
  color: white;
}

/* Style close button */
.closeStyle {
  width: 45px;
  height: 45px;
  padding: 0px 0;
  border: 3px solid rgb(48, 136, 207) !important;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(160, 160, 160) !important;
  color: black;
  cursor: pointer;
  font-size: 24px;
  margin: 0px;
}

/* Style on hover colour */
.closeStyle:hover {
  background-color: rgb(85, 83, 83) !important;
  color: white;
}

.modalDeleteBody {
  text-align: center;
  color: rgb(177, 185, 189);
}

.containerLocalityDescription {
  margin-top: 15px;
  margin-bottom: 10px;
  min-height: 130px;
  min-width: 265px;
  border: 3px solid #383a39;
  background-color: rgb(85, 83, 83);
  border-radius: 6px;
}

.localityDescriptionText {
  text-align: left;
  color: rgb(229, 229, 229);
  word-break: break-word;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
}
