<app-main-navbar-menu
  [allLocality]="allLocality"
  [activePage]="activePage"
></app-main-navbar-menu>
<custom-tittle-main
  [tittleMain]="tittleMain"
  [screen_size]="resizeSvc.getScreenSize()"
  [margin_right]="resizeSvc.getPageMarginRight()"
></custom-tittle-main>

<div class="wrapper" center="block">
  <div
    [ngStyle]="{
      width: resizeSvc.getPageWidth() + 'px'
    }"
  >
    <div class="wrap">
      <ul class="list-inline">
        <li *ngFor="let achatdbCollection of achatdbCollections; let i = index">
          <a>
            <div class="imageContainer">
              <img
                [attr.src]="
                  imageService.getImage(
                    achatdbCollection.imgName,
                    achatdbCollection.imgPath
                  )
                "
                class="imageLocality"
                [ngStyle]="{
                  width: resizeSvc.getPictureWidth() + 'px',
                  'margin-left':
                    i % resizeSvc.getPictureOnPage() == 0
                      ? '0px'
                      : resizeSvc.getPictureMarginSize() + 'px',
                  'margin-bottom': resizeSvc.getPictureMarginSize() + 'px'
                }"
                (click)="openModal(achatdbCollection)"
              />
              <div *ngIf="auth.isItemYours(achatdbCollection.postedBy)" ngbDropdown>
                <button
                  type="button"
                  id="dropdown01"
                  class="{{ getDropdownToggleClass(achatdbCollection) }}"
                  ngbDropdownToggle
                ></button>
                <div ngbDropdownMenu class="dropdownStyle" aria-labelledby="dropdown01">
                  <a
                    *ngIf="!isProfileMineral(achatdbCollection)"
                    class="dropdown-item"
                    (click)="toggleProfileMineral(achatdbCollection)"
                    >{{ toProfile_txt }}</a
                  >
                  <a
                    *ngIf="isProfileMineral(achatdbCollection)"
                    class="dropdown-item"
                    (click)="toggleProfileMineral(achatdbCollection)"
                    >{{ removeFromProfile_txt }}</a
                  >
                  <a
                    class="dropdown-item"
                    (click)="routerService.modifyMineral(achatdbCollection)"
                    >{{ modifyMineral_txt }}</a
                  >
                  <a
                    class="dropdown-item"
                    (click)="routerService.addSubMineral(achatdbCollection)"
                  >
                    {{ addSubMineral_txt }}</a
                  >
                  <a
                    class="dropdown-item"
                    (click)="openConfirmModal(achatdbCollection)"
                    >{{ deleteMineral_txt }}</a
                  >
                </div>
              </div>
              <div *ngIf="!auth.isItemYours(achatdbCollection.postedBy)"></div>
            </div>
          </a>
        </li>
      </ul>
      <hr class="enderLine" />
    </div>
    <app-paging-buttons
      *ngIf="this.pagingButtons.ifAnyMorePage()"
      [buttonCollections]="buttonCollections"
      (clickPageButtonEvent)="clickPageButton($event)"
    ></app-paging-buttons>
    <div class="containerLocalityDescription">
      <div class="localityDescriptionText">{{ actualLocality.description }}</div>
    </div>
  </div>
</div>
