<app-main-navbar-menu
  [allLocality]="allLocality"
  [activePage]="activePage"
></app-main-navbar-menu>
<custom-tittle-main
  [tittleMain]="titleMain_txt"
  [screen_size]="resizeSvc.getScreenSize()"
  [margin_right]="resizeSvc.getPageMarginRight()"
></custom-tittle-main>

<div
  [ngStyle]="{
    width: resizeSvc.getPageWidth() + 'px'
  }"
  >
  <div class="wrap">
    @for (otherUsersCollection of otherUsersCollections; track otherUsersCollection; let i = $index) {
      <div
        class="userWrapper"
        >
        @if (otherUsersCollection.otherUser.profileImgName) {
          <div
            class="list-inline"
        [ngStyle]="{
          'min-height': (resizeSvc.getPictureHeight() * 2) / 3 + 'px'
        }"
            >
            <img
          [attr.src]="
            imageService.getImage(
              otherUsersCollection.otherUser.profileImgName,
              otherUsersCollection.otherUser.profileImgPath
            )
          "
              class="imageProfile"
          [ngStyle]="{
            width: (resizeSvc.getPictureWidth() * 2) / 3 + 'px',
            left:
              resizeSvc.getImageOffsetOnSize(
                3,
                1,
                (resizeSvc.getPictureWidth() * 2) / 3
              ) + 'px'
          }"
              (click)="routeToAnotherUsersLocalities(otherUsersCollection.otherUser.postedBy)"
              />
          </div>
        }
        <div class="userDescription">
          <a
            class="{{ getUserNameClass() }}"
            (click)="routeToAnotherUsersLocalities(otherUsersCollection.otherUser.postedBy)"
            >{{ otherUsersCollection.otherUser.name }}</a
            >
            <div class="dropdownLocality" ngbDropdown>
              @if (chatService.isDropDownActive(otherUsersCollection.otherUser.postedBy)) {
                <button
                  type="button"
                  id="dropdown01"
                  class="{{ getUserDropDownClass() }}"
                  ngbDropdownToggle
                ></button>
              }
              @if (chatService.isDropDownActive(otherUsersCollection.otherUser.postedBy)) {
                <div
                  ngbDropdownMenu
                  class="dropdownStyle"
                  aria-labelledby="dropdown01"
                  >
                  @if (
                    chatService.isSendMessageActive(otherUsersCollection.otherUser.postedBy)
                    ) {
                    <a
                      (click)="sendMessage(otherUsersCollection.otherUser)"
                      class="dropdown-item"
                      >
                      {{ sendMessage_txt }}</a
                      >
                    }
                    @if (chatService.isAddFriendActive(otherUsersCollection.otherUser)) {
                      <a
                        class="dropdown-item"
                        (click)="sendFriendshipRequest(otherUsersCollection.otherUser.postedBy, i)"
                        >{{ addFriend_txt }}</a
                        >
                      }
                      @if (chatService.isConfirmFriendActive(otherUsersCollection.otherUser)) {
                        <a
                          class="dropdown-item"
                          (click)="sendConfirmFriendship(otherUsersCollection.otherUser.postedBy, i)"
                          >{{ confirmFriend_txt }}</a
                          >
                        }
                      </div>
                    }
                  </div>
                </div>
                <div>
                  <ul
                    class="list-inline"
          [ngStyle]="{
            'min-height': resizeSvc.getPictureHeight() + 'px'
          }"
                    >
                    @for (
                      achatdbCollection of otherUsersCollection.achatdbCollections; track
                      achatdbCollection; let j = $index) {
                      <li
                        >
                        @if (achatdbCollection) {
                          <div class="imageContainer">
                            <img
                [attr.src]="
                  imageService.getImage(
                    achatdbCollection.imgName,
                    achatdbCollection.imgPath
                  )
                "
                              class="imageMineral"
                [ngStyle]="{
                  'margin-top': resizeSvc.getPictureMarginSize() + 'px',
                  width: resizeSvc.getPictureWidth() + 'px',
                  left:
                    resizeSvc.getFirstImageOffset(
                      otherUsersCollection.achatdbCollections.length,
                      j
                    ) + 'px'
                }"
                              (click)="openModal(achatdbCollection, j)"
                              />
                          </div>
                        }
                      </li>
                    }
                  </ul>
                </div>
                <hr
                  class="enderLine"
        [ngStyle]="{
          width: resizeSvc.getEndLinerWidth(3) + 'px'
        }"
                  />
              </div>
            }
            @if (this.pagingButtons.ifAnyMorePage()) {
              <app-paging-buttons
                [buttonCollections]="buttonCollections"
                (clickPageButtonEvent)="clickPageButton($event)"
              ></app-paging-buttons>
            }
          </div>
        </div>
