.wrapper
{
  /* color: rgb(160, 160, 160); */
  margin-left: auto;
  margin-right: auto;
}

.mainFormClass
{
    color: white;
    text-align: center;
    margin-left: 80px;
    margin-right: 150px;
}

.imageLocality
{
  display: block;
  margin-left: auto;
  margin-right: auto;
    cursor: pointer;
    border: 5px;  	
    border-style: solid;
    border-color: #4b4b4b;
    border-radius: 6px;
}

.enderLine
{
  min-width: 240px;
  background-color: rgb(177, 185, 189);
}

.top-right{
  position: absolute;
  top: 20px;
  right: 17px;
  opacity: 0.5;
  border-radius: 8px;
  /* cursor: pointer !important; */
}

.top-right:hover{
  position: absolute;
  top: 20px;
  right: 17px;
  opacity: 1;
  border-radius: 8px;
  /* cursor: pointer !important; */
}

.localityWrapper {
  margin-top: 45px;
}

.userName {
  color: rgb(177, 185, 189) !important;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.userName:hover {
  color: white !important;
  font-weight: bold;
  text-decoration: underline !important;
}

.imageContainer {
  position: relative;
  text-align: center;
  color: rgb(177, 185, 189);
}