<app-main-navbar-menu
  [allLocality]="allLocality"
  [activePage]="activePage"
></app-main-navbar-menu>
<custom-tittle-main
  [tittleMain]="titleMain_txt"
  [screen_size]="resizeSvc.getScreenSize()"
  [margin_right]="resizeSvc.getPageMarginRight()"
></custom-tittle-main>

<div class="wrapper" center="block">
  <div
    [ngStyle]="{
      width: resizeSvc.getPageWidth() + 'px'
    }"
  >
    <div class="wrap">
      <div *ngFor="let otherUsersCollection of otherUsersCollections; let i = index" class="userWrapper">
        <div class="userDescription">
          <a
            class="{{ getUserNameClass() }}"
            (click)="
              routeToAnotherUsersLocalities(otherUsersCollection.otherUser.postedBy)
            "
            >{{ otherUsersCollection.otherUser.name }}</a
          >
          <div class="dropdownLocality" ngbDropdown>
            <button
              *ngIf="
                chatService.isDropDownActive(otherUsersCollection.otherUser.postedBy)
              "
              type="button"
              id="dropdown01"
              class="{{ getUserDropDownClass() }}"
              ngbDropdownToggle
            ></button>
            <div
              *ngIf="
                chatService.isDropDownActive(otherUsersCollection.otherUser.postedBy)
              "
              ngbDropdownMenu
              class="dropdownStyle"
              aria-labelledby="dropdown01"
            >
              <a
                *ngIf="
                  chatService.isSendMessageActive(otherUsersCollection.otherUser.postedBy)
                "
                (click)="sendMessage(otherUsersCollection.otherUser)"
                class="dropdown-item"
              >
                {{ sendMessage_txt }}</a
              >
              <a
                *ngIf="chatService.isAddFriendActive(otherUsersCollection.otherUser)"
                class="dropdown-item"
                (click)="
                  sendFriendshipRequest(otherUsersCollection.otherUser.postedBy, i)
                "
                >{{ addFriend_txt }}</a
              >
              <a
                *ngIf="chatService.isConfirmFriendActive(otherUsersCollection.otherUser)"
                class="dropdown-item"
                (click)="
                  sendConfirmFriendship(otherUsersCollection.otherUser.postedBy, i)
                "
                >{{ confirmFriend_txt }}</a
              >
            </div>
          </div>
        </div>
        <div>
          <ul
            class="list-inline"
            [ngStyle]="{
              'min-height': resizeSvc.getPictureHeight() + 'px'
            }"
          >
            <li
              *ngFor="
                let achatdbCollection of otherUsersCollection.achatdbCollections;
                let j = index
              "
            >
              <div *ngIf="achatdbCollection" class="imageContainer">
                <img
                  [attr.src]="
                    imageService.getImage(
                      achatdbCollection.imgName,
                      achatdbCollection.imgPath
                    )
                  "
                  class="imageMineral"
                  [ngStyle]="{
                    'margin-top': resizeSvc.getPictureMarginSize() + 'px',
                    width: resizeSvc.getPictureWidth() + 'px',
                    left:
                      resizeSvc.getFirstImageOffset(
                        otherUsersCollection.achatdbCollections.length,
                        j
                      ) + 'px'
                  }"
                  (click)="openModal(achatdbCollection, j)"
                />
              </div>
            </li>
          </ul>
        </div>
        <hr
          class="enderLine"
          [ngStyle]="{
            width:
              resizeSvc.getEndLinerWidth(3) +
              'px'
          }"
        />
      </div>
      <app-paging-buttons
        *ngIf="this.pagingButtons.ifAnyMorePage()"
        [buttonCollections]="buttonCollections"
        (clickPageButtonEvent)="clickPageButton($event)"
      ></app-paging-buttons>
    </div>
  </div>
</div>
