<app-main-navbar-menu
  [allLocality]="allLocality"
  [activePage]="activePage"
></app-main-navbar-menu>
<custom-tittle-main
  [tittleMain]="titleMain_txt"
  [screen_size]="resizeSvc.getScreenSize()"
></custom-tittle-main>

<div class="container" center="block">
  <div class="{{ mobileService.getMainFormClass(resizeSvc.getScreenSize()) }}">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group" [ngClass]="displayFieldCss('comment')">
        <!-- Last Name -->
        <div class="col-sm-12">
          <label for="comment" class="control-label">{{ comment_txt }}</label>
          <input
            type="text"
            formControlName="comment"
            class="form-control"
            id="comment"
            name="comment"
            placeholder="{{ comment_txt }}"
            />
          @if (invalidComment()) {
            <p id="comment_error" class="help-block">
              {{ 'Invalid comment.' }}
            </p>
          }
          <p class="help-block">{{ this.serverServiceErrors.comment }}</p>
        </div>
      </div>

      <div class="form-group" [ngClass]="displayFieldCss('img')">
        <!-- Password -->
        <div class="imageContainer">
          @if (!is_submit_in_progress) {
            <div class="col-sm-12">
              <label for="img" class="control-label image" id="imgId">{{
                this.titleImage
              }}</label>
              <input
                type="file"
                class="form-control"
                id="img"
                name="img"
                (change)="onFileSelect($event)"
                />
            </div>
          }

          @if (is_submit_in_progress) {
            <div class="col-sm-12">
              <label for="img" class="control-label frozenImage" id="imgId">{{
                this.titleImage
              }}</label>
            </div>
          }
        </div>
      </div>

      <div class="submitContainer">
        <p id="successLoadCondition">{{ this.serverServiceErrors.uploadSuccess }}</p>
      </div>

      <div class="form-group has-error">
        <div class="submitContainer">
          <div class="col-sm-12">
            <p class="help-block">
              {{ this.inputCondition.errorLoad }}
            </p>
            <!-- Register Button -->
            @if (!is_submit_in_progress) {
              <div class="col-sm-12">
                <button type="submit" class="submitButton">{{ store_txt }}</button>
              </div>
            }
            @if (is_submit_in_progress) {
              <div class="col-sm-12">
                <button type="submit" class="frozenSubmitButton">
                  {{ submitInProgress_txt }}
                </button>
              </div>
            }
          </div>
        </div>
      </div>
    </form>
    <div class="submitContainer">
      @if (imgURL) {
        <img [src]="imgURL" height="200" />
      }
    </div>
  </div>
</div>
